---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/light.css";
import "../styles/dark.css";
---

<Layout>
    <Header />
    <main>
        <Hero />
        <hr class="divider" />
        <About />
        <hr class="divider" />
        <Skills />
        <hr class="divider" />
        <Projects />
        <hr class="divider" />
        <Contact />
    </main>
    <Footer />
</Layout>
